html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    color: #000000;
    font-size: 30px;
}

header {
    height: 20%;
    background-color: #4CAF50;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

footer {
    bottem: 0;
    left: 0; 
    right: 0; 
    background-color: #000000; 
    color: white; 
    text-align: center; 
    padding: 20px;
}
